{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<table>
    <caption>Trouble Shootaz Smart Parking 2022</caption>
    <thead>
    <tr>
        <th>Sensor #</th>
        <th>Started</th>
        <th>Occupied?</th>
    </tr>
    </thead>
{% for sensor in sensors %}
<tr>
    <td>
        {{sensor.sensor_id}}
    </td>
    <td>
        {{sensor.start_time}}
    </td>
    {% if records[sensor].reading %}
    <td class = "occupied">
        Taken
    </td>
    {% else %}
    <td class = "free">
        Free
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
